<a href="https://colab.research.google.com/github/muhammadghazyy/Kaggle-Tabular-Playground-2021/blob/main/Tabular_Playground_Series_Jun_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt

from google.colab import files

In [2]:
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"muhammadghazy","key":"fd1a8a8edd66f6104869b0233c0a8724"}'}

In [3]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle competitions download -c tabular-playground-series-jun-2021

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading train.csv.zip to /content
 77% 5.00M/6.49M [00:00<00:00, 46.4MB/s]
100% 6.49M/6.49M [00:00<00:00, 41.5MB/s]
Downloading test.csv.zip to /content
  0% 0.00/3.14M [00:00<?, ?B/s]
100% 3.14M/3.14M [00:00<00:00, 104MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/264k [00:00<?, ?B/s]
100% 264k/264k [00:00<00:00, 84.2MB/s]

In [5]:
!unzip train.csv.zip
!unzip test.csv.zip

Archive:  train.csv.zip
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: a
error:  invalid response [a]
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: a
error:  invalid response [a]
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: train.csv
Archive:  test.csv.zip
  inflating: test.csv

In [7]:
!ls

kaggle.json  sample_submission.csv.zip	test.csv.zip  train.csv.zip
sample_data  test.csv			train.csv

In [8]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [30]:
train_y = np.array(train['target'])

In [36]:
import sklearn
from sklearn.preprocessing import LabelBinarizer
label_bin = sklearn.preprocessing.LabelBinarizer()
labels = label_bin.fit_transform(train_y)
labels = np.array(labels)

In [11]:
train_x = train.drop(['id','target'],axis=1)

In [44]:
train_x.shape

(200000, 75)

In [43]:
labels

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 1, 0]])

In [18]:
num_class = len(np.unique(train_y))

In [60]:
model = tf.keras.models.Sequential([
                                    tf.keras.layers.Dense(512,activation='relu'),
                                    tf.keras.layers.Dropout(0.2),
                                    tf.keras.layers.Dense(num_class,activation='softmax')
])

model.compile(
    optimizer = tf.keras.optimizers.RMSprop(),
    loss = tf.keras.losses.CategoricalCrossentropy(),
    metrics = ['acc']
)

In [61]:
model.fit(train_x, labels, epochs = 5)

Epoch 1/5
6250/6250 [==============================] - 12s 2ms/step - loss: 1.9336 - acc: 0.3327
Epoch 2/5
6250/6250 [==============================] - 12s 2ms/step - loss: 1.8594 - acc: 0.3449
Epoch 3/5
6250/6250 [==============================] - 12s 2ms/step - loss: 1.8557 - acc: 0.3463
Epoch 4/5
6250/6250 [==============================] - 12s 2ms/step - loss: 1.8526 - acc: 0.3463
Epoch 5/5
6250/6250 [==============================] - 12s 2ms/step - loss: 1.8548 - acc: 0.3454

In [64]:
test1 = test.drop('id',axis=1)

In [70]:
ans = model.predict(test1)

In [71]:
test = test.drop([f"feature_{i}" for i in range(75)],axis=1)

In [78]:
final = {
    'Class_1':[],
    'Class_2':[],
    'Class_3':[],
    'Class_4':[],
    'Class_5':[],
    'Class_6':[],
    'Class_7':[],
    'Class_8':[],
    'Class_9':[],
}

for i in range(len(ans)):
  final['Class_1'].append(ans[i][0])
  final['Class_2'].append(ans[i][1])
  final['Class_3'].append(ans[i][2])
  final['Class_4'].append(ans[i][3])
  final['Class_5'].append(ans[i][4])
  final['Class_6'].append(ans[i][5])
  final['Class_7'].append(ans[i][6])
  final['Class_8'].append(ans[i][7])
  final['Class_9'].append(ans[i][8])

In [82]:
test['Class_1'] = final['Class_1']
test['Class_2'] = final['Class_2']
test['Class_3'] = final['Class_3']
test['Class_4'] = final['Class_4']
test['Class_5'] = final['Class_5']
test['Class_6'] = final['Class_6']
test['Class_7'] = final['Class_7']
test['Class_8'] = final['Class_8']
test['Class_9'] = final['Class_9']

In [91]:
test.head()

       id   Class_1   Class_2   Class_3  ...   Class_6   Class_7   Class_8   Class_9
0  200000  0.048726  0.544310  0.159310  ...  0.113528  0.006536  0.020366  0.099113
1  200001  0.042598  0.077602  0.057141  ...  0.278245  0.078542  0.285290  0.122155
2  200002  0.035199  0.073968  0.049715  ...  0.438288  0.054390  0.220886  0.099986
3  200003  0.035631  0.071617  0.047254  ...  0.281522  0.075493  0.308507  0.130802
4  200004  0.040547  0.065121  0.051799  ...  0.322294  0.076478  0.277212  0.120916

[5 rows x 10 columns]

In [92]:
test.to_csv('submission.csv',index=False)

In [93]:
!kaggle competitions submit -c tabular-playground-series-jun-2021 -f submission.csv -m "Message"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
100% 17.9M/17.9M [00:00<00:00, 33.2MB/s]
Successfully submitted to Tabular Playground Series - Jun 2021